.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/money_bag.png")
    .utopia-chart-heading= @ranks[:retirement_rank]
    .utopia-chart-desc Retirement Rank
.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/bill.png")
    .utopia-chart-heading= @ranks[:income_rank]
    .utopia-chart-desc Income Rank
.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/stats_lines.png")
    .utopia-chart-heading= @ranks[:financial_rank]
    .utopia-chart-desc Financial Rank
