.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/coin.png")
    .utopia-chart-heading= @stat_values[0]
    .utopia-chart-desc Yearly Savings
.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/money_bag.png")
    .utopia-chart-heading= @stat_values[1]
    .utopia-chart-desc Lifetime Savings
.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/certificate.png")
    .utopia-chart-heading= @stat_values[2]
    .utopia-chart-desc Rank
.span3
  .utopia-chart-legend
    .utopia-chart-icon
      = image_tag("img/icons2/user.png")
    .utopia-chart-heading= @stat_values[3]
    .utopia-chart-desc Total Users