/ Header starts
:css
  .navbar-brand img {
    margin-left: 5px;
    margin-top: 2px;
    width: 180px;
  }
.row-fluid
  .span12
    .header-top
      .header-wrapper
        = link_to image_tag("FinancialRankLogo2.png"), root_url, {:class => 'navbar-brand'}
        .header-right
          .header-divider &nbsp;
          .user-panel.header-divider
            .user-info
              = link_to raw("#{image_tag("avatar-1-small.jpg", class: "circle-img", alt: "")}#{'<span class="User">'} #{current_user.email} #{'</span>'}"), "#"
            .user-dropbox
              %ul
                %li.user
                  %a{:href => "/recommendations"} Profile
                %li.logout= link_to "Log Out", destroy_user_session_path, :method => :delete
          / User panel end
        / End header right
      / End header wrapper
    / End header
/ Header ends