.row-fluid
  .span10.body-container
    %section#utopia-wizard-form.utopia-widget.utopia-form-box
      .utopia-widget-title
        = image_tag("img/icons/paragraph_justify.png", class: "utopia-widget-icon")
        %span Questionaire Data
      .row-fluid
        .utopia-widget-content
          .span12.utopia-form-freeSpace
            .sample-form
              %div
                = form_for @user, :url => { action: "submit", method: "patch" } do |f|
                  %fieldset
                    .control-group
                      %label.control-label Please select a goal
                      .controls
                        = f.select :goal_id, options_for_select( Goal.all.map { |a| [a.name, a.id] }, f.object.goal_id), {required:true}, {class: "input-fluid" ,disabled: @readonly}
                    = f.fields_for :user_answers do |ff|
                      = ff.hidden_field :question_id
                      .control-group
                        %label#question.control-label= ff.object.question.text
                        .controls
                          - if ff.object.question.kind == 'Value'
                            = ff.text_field :value, required:true, readonly: @readonly, type:"number", min: "0", class: "input-fluid"
                          - elsif ff.object.question.kind == 'Date'
                            = ff.date_field :value, required:true, readonly: @readonly, type:"date", max: Date.today, class: "input-fluid", value: ff.object.value
                          - elsif ff.object.question.kind == 'Dropdown'
                            = ff.select :answer_id, options_for_select( Answer.where(question: ff.object.question.id).map { |a| [a.text, a.id] },ff.object.answer_id), {required:true}, {class: "input-fluid", disabled: @readonly}
                    .utopia-from-action
                      -if @readonly == true
                        %button.btn.btn-primary.span5{:type => "submit", :name => "edit"} Edit
                      -else
                        %button.btn.btn-primary.span5{:type => "submit"} Save changes
                        %a{:href => data_path}
                          %button.btn.span5{:type => "button"} Cancel     