<SCRIPT LANGUAGE="JavaScript">

  function formatCurrency(num) {
    num = num.toString().replace(/\$|\,/g,'');
    if(isNaN(num))
    num = "0";
    sign = (num == (num = Math.abs(num)));
    num = Math.floor(num*100+0.50000000001);
    cents = num%100;
    num = Math.floor(num/100).toString();
    if(cents<10)
    cents = "0" + cents;
    for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
    num = num.substring(0,num.length-(4*i+3))+','+
    num.substring(num.length-(4*i+3));
    return (((sign)?'':'-') + '$' + num + '.' + cents);
  };

  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      format: 'mm/dd/yyyy',
      endDate: 'today',
      autoclose: true,
      startView: 2
    });
  });

</script>

<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
  <div class="logo"><a href="<%=root_url%>">FinancialRank</a></div>
  <!-- start: LOGIN BOX -->
  <div class="box-login">
    <h3>Tell us about your financial life</h3>
    <hr>
    <div class="errorHandler alert alert-danger no-display"> <%= render '/shared/error_messages' %>   </div>
    <%= form_for @user, :url => { action: "submit", method: "post" } do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <div class="form-group">
          <h4 class="control-label" style="width: 97%;margin: 1% 3%">Please select a goal</h4>
          <%= f.select :goal_id, options_for_select( Goal.all.map { |a| [a.name, a.id] }, f.object.goal_id), {required:true}, {class: "form-control", style:"width: 60%;margin: 1% 3%"} %>
        </div>
      </fieldset>
      <%= f.fields_for :user_answers do |ff| %>
        <fieldset>
          <%= ff.hidden_field :question_id%>
          <%= ff.hidden_field :kind, value:ff.object.question.kind%>
          <div class="form-group">
            <h4 class="control-label" style="width: 97%;margin: 1% 3%" id="question" ><%= ff.object.question.text %></h4>
            <% if ff.object.question.kind == 'Value'%>
              <%= ff.text_field :value, required:true, type:"text", onBlur:"this.value=formatCurrency(this.value)", placeholder: "$0", class: "form-control", style:"width: 60%;margin: 1% 3%"%>
            <% elsif ff.object.question.kind == 'Date'%>
              <%= ff.text_field :value, "data-behaviour" => 'datepicker', required:true, type:"text", class: "form-control", style:"width: 60%;margin: 1% 3%", value: ff.object.value, placeholder:"mm/dd/yyyy"%>
            <% elsif ff.object.question.kind == 'Dropdown'%>
              <%= ff.select :answer_id, options_for_select( Answer.where(question: ff.object.question.id).map { |a| [a.text, a.id] },ff.object.answer_id), {required:true}, {class: "form-control", style:"width: 60%;margin: 1% 3%"} %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <hr>
      <div class="actions">
        <center>
          <%= f.submit "Submit", class: "btn btn-block btn-success"%>
        </center>
        <span align=right>
          <p><a href= <%= @user_signed_in ? edit_user_registration_path : new_user_registration_path %> >Skip</a> to go directly to <%= @registered_user ? "Dashboard" : "Sign Up" %><p>
        </span>
      </div> 
    <% end %>
  </div>
  <!-- end: LOGIN BOX -->

</div>
