<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application_index', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application_index', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs5shiv/3.7.05shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<%= render 'layouts/header'%>

<div class="main-slider-wrapper">

<div>
  <div class="slider">
    <div class="container slider_container">

      <div class="row">
        <div class="marketing-text">
          <h1 style="font-size:48px">
            <center>Anonymously compare your financial life to others</center>
          </h1>
          <h2>
            <center>Find out how your income, savings, and debt compares to others of your same age.</center>
          </h2>
        </div>
        <!--/MARKETING TEXT-->
        <center>
          <a href="/users/questionnaire" class="btn btn-primary btn-large feature-btn" style="width:300px">Get Started</a>
        </center>

      </div>
      <!--/ROW-->

    </div><!--container-->
  </div><!--row slider-->

</div>



</div>


<!-- SEARCH ROW
================================================== -->
<div class="row search-row">
  <div class="col-lg-12">
    <div class="container">
        <div class="span12 text-center">
            <a href="" class="share-icon facebook" title="Share on facebook">share on facebook</a>
            <a href="" class="share-icon twitter" title="Share on twitter">share on twitter</a>
            <a href="" class="share-icon email" title="Share in an email">send an email</a>
        </div>
    </div><!--container-->
  </div><!--col-12-->
</div><!--row-->

<div class="container">
    
</div>

<div class="section center nopadding section-12" style="background-color: #ffffff;  ">
  <div class="container">
    
    <!-- Section Content -->
    <div class="fourteen columns offset-by-one content">
      <h2>Homepage Features</h2>
      <div class="clear"></div>                                                            
      <div class="innercontent">
        

        <div class="one_third column-last">
          <div class="sprite repay1 aligncenter"></div>
          <h4>Build a plan, save money and pay off your debt faster!</h4>
        </div>
        <div class="clear"></div>
      </div>
    <!-- END Section Content -->
    <div class="clear"></div>                         
    <div class="clear"></div>
  </div>
     
</div>

<div class="row reasons-row">
  <div class="col-lg-12">
    <div class="container main_container">
      <div class="row">
        <h3 class="text-center">Top Reasons to Sign Up For OptionCast Premium</h3>
        <ul class="list-unstyled png col-lg-7 col-md-7 col-sm-6">
          <li>Implied Volatility Charts</li>
          <li>At The Money Straddle Charts</li>
          <li>Historical Implied Volatility Charts</li>
          <li>Option Radar</li>
          <li>Daily Open Interest Changes</li>
          <li>Daily Call/Put Volume Changes</li>
          <li>Option Percentile Ranks</li>
          <li>Option Under/Over Value Sentiment</li>
          <li>ALL Future Updates Included</li>
          <li>No Contracts or Hidden Fees</li>
        </ul>
        <ul class="list-unstyled num text-center col-lg-5 col-md-5 col-sm-6">
          <li><strong>14</strong></li>
          <li><span>Day Free Trial</span></li>
          <li><strong>2008</strong></li>
          <li><span>Historical Data Since</span></li>
          <li><strong>3,500+</strong></li>
          <li><span>Stocks with Data</span></li>
          <li><strong>76%</strong></li>
          <li><span>Average Probalility of Profit</span></li>
          <li><strong>54</strong></li>
          <li><span>Years of Option Trading Experience</span></li>
        </ul>
      </div><!--row-->
    </div><!--container-->
  </div><!--col-12-->
</div><!--row-->

<div class="row desc-row">
  <div class="col-lg-12">
    <div class="container main_container">

      <h3 class="text-center">The #1 Option Data &amp; Trading Website For Invdividual Traders</h3>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_search.png" alt="">
          <h4>Free Data</h4>
          <p>A free account provides our users with historical volatility charts, open interest and volume changes, and more.</p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_display.png" alt="">
          <h4>Easy To Use</h4>
          <p>Our data is available via the web with no external downloads. Access our data from anyplace at anytime.</p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_check.png" alt="">
          <h4>Powerful Data</h4>
          <p>Our end of day data provies users with all the tools they need to find out what smart money is doing in the options market.</p>
        </div><!--col-->

        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_newsletter.png" alt="">
          <h4>Premium Services</h4>
          <p>See option sentiment, open interest charts, under/over valued option and more. <a href="/pricing"> Sign up for a 14 day free trial.</a></p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_brush.png" alt="">
          <h4>Historical Data</h4>
          <p>Optioncast provides over 10 years of option data accessible over the web, or <a href="www.optiondata.net">via CSV here</a></p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4">
          <img src="assets/icon_money.png" alt="">
          <h4>Affordable</h4>
          <p>OptionCast provides all our data at extremely affordable rates compared to other option vendors.</p>
        </div><!--col-->

        <p class="text-center clearfix"><a href="what-is-optioncast" class="btn btn-primary btn-large feature-btn">More Features</a></p>
      </div><!--row-->

    </div><!--container-->
  </div><!--col-->
</div><!--row-->

<div class="row about-row">
  <div class="col-lg-12">
    <div class="container main_container">
      <h3 class="text-center">Join hundreds of users trusting OptionCast Data</h3>
      <p class="text-center">OptionCast is making trading data affordable for indiviudal traders. We're a do-it-yourself trading platform with a focus on the retail trader. </p>
    </div><!--container-->
  </div><!--col-->
</div><!--row-->

<div class="row popover-row">
  <div class="col-lg-12">
    <div class="container main_container">

      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
          <div class="popover top">
            <div class="arrow"></div><!--arrow-->
            <div class="popover-content">
              <p>"My first order of business every day is to check the Option Radar and Open Interest charts. I use this data to see where smart money is placing their bets."</p>
            </div><!--popover-content-->
          </div><!--popover-->
          <p class="text-center">James Newton</p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
          <div class="popover top">
            <div class="arrow"></div><!--arrow-->
            <div class="popover-content">
              <p>"I use OptionCast because this is the only website available that contains historical earnings data. I primarily trade on earnings reports so to see historical stock moves and option spreads is very beneficial."</p>
            </div><!--popover-content-->
          </div><!--popover-->
          <p class="text-center">Sandy Crenshaw</p>
        </div><!--col-->
      </div><!--row-->

      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
          <div class="popover top">
            <div class="arrow"></div><!--arrow-->
            <div class="popover-content">
              <p>"The easiest way to find undervalued options. I use the service daily to reinforce my personal trading ideas."</p>
            </div><!--popover-content-->
          </div><!--popover-->
          <p class="text-center">Lorenzo Fowler</p>
        </div><!--col-->
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
          <div class="popover top">
            <div class="arrow"></div><!--arrow-->
            <div class="popover-content">
              <p>"Considering how inexpensive the service is and how expensive option data cane be, I think OptionCast provides incredible value."</p>
            </div><!--popover-content-->
          </div><!--popover-->
          <p class="text-center">Ben Cornine</p>
        </div><!--col-->

      </div><!--row-->

      <p class="text-center clearfix"><a href="pricing" class="btn btn-primary btn-large feature-btn">Sign Up</a></p>

    </div><!--container-->
  </div><!--col-->
</div><!--row-->

<div class="row bottom-row">
  <div class="col-lg-12">
    <div class="container main_container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer_widgets">
            <p><strong>Contact Us</strong></p>
            <ul class="list-unstyled">
              <li id="mail"><a href="mailto:support@optioncast.com">support@optioncast.com</a></li>
            </ul>
          </div>
        </div><!--col-->
        <div class="col-sm-3">
          <div class="footer_widgets">
            <p><strong>Company Information</strong></p>
            <ul class="list-unstyled">
              <li><a href="about">About</a></li>
              <li><a href="/stock-options-blog">Blog</a></li>
              <li><a href="privacy">Privacy Policy</a></li>
              <li><a href="terms">Terms of Service</a></li>
            </ul>
          </div>
        </div><!--col-->
        <div class="col-sm-3">
          <div class="footer_widgets">
            <p><strong>Learn &amp; Explore</strong></p>
            <ul class="list-unstyled">
              <li><a href="what-is-optioncast">Features</a></li>
              <li><a href="pricing">Our Pricing</a></li>
              <li><a href="faq">Help/FAQs</a></li>
            </ul>
          </div>
        </div><!--col-->
        <div class="col-sm-3">
          <div class="footer_widgets">
            <p><strong>Get Started</strong></p>
            <ul class="list-unstyled">
              <li><a href="signup">Sign Up</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="myaccount">My Account</a></li>
            </ul>
          </div>
        </div><!--col-->

      </div><!--row-->
    </div><!--container-->
  </div><!--col-12-->
</div><!--row-->

<div class="row footer-row">
  <div class="col-lg-12">
    <div class="container main_container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <p>&copy;OptionCast - Stock Option Analytics and Data</p>
        </div><!--col-->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="footer_right">
            <span><img src="assets/followus.png" alt=""></span>
            <span><a href="#"><img src="assets/icon-twitter.png" alt=""></a></span>
            <span><a href="#"><img src="assets/icon-facebook.png" alt=""></a></span>
          </div>
        </div><!--col-->
      </div><!--row-->
    </div><!--container-->
  </div><!--col-12-->
</div><!--row-->


<script>
  $('#main-slider').liquidSlider({
    continuous:false,
    autoHeight:false,
    slideEaseDuration:500,
    heightEaseDuration:500,
    slideEaseFunction:'animate.css',
    animateIn:"bounceInLeft",
    animateOut:"bounceOutRight"
  });
</script>
<script type="text/javascript">
  $(function(){
    $('.bottom-row ul li a').hover(function(){
      $(this).animate({
        paddingLeft:'6px',
      },'700');

    }, function() {

      $(this).animate({
        paddingLeft:'0px',
      },'400');

    });
  });
</script>
</body>
</html>