<div class= "navbar navbar-inverse navbar-fixed-top">	
	
    <div class="container main_container">
		
        <div class="navbar-header">
            <%= link_to 'OPTIONCAST', root_url, class: "navbar-brand" %>
		</div>
		
        <div class="navbar-tools">
            <ul class="nav navbar-right">
                <% if (!user_signed_in? and !session.has_key?(:user)) or (user_signed_in? and current_user.goal_id.blank?)  %>
                    <li><%= link_to raw('<p>Get Started</p>'), "/users/questionnaire" %></li>
                <% end %>
    			<li><%= link_to raw('<p>About</p>'), "/about" %></li>
    			<li><%= link_to raw('<p>Contact</p>'), "/contact" %></li>
                <% unless user_signed_in? %>        
    				<li><%= link_to raw('<p>Sign Up</p>'), "/pricing" %></li>
    				<li><%= link_to raw('<p>Login</p>'), new_user_session_path %></li>   
                <% else %>
                    <li class="dropdown current-user">
                        <%= link_to raw("#{image_tag("avatar-1-small.jpg", class: "circle-img", alt: "")}#{'<span class="User">'} #{current_user.email} #{'</span> <i class="clip-chevron-down"></i>'}"), "#", class: "dropdown-toggle", data: {  hover: "dropdown", toggle: "dropdown", close_others: "true" } %>
                        <ul class="dropdown-menu">
                            <li><%= link_to raw("#{'<i class="clip-user-2"></i>'} #{"My Profile"}"), "/recommendations" %></li>
                            <li><%= link_to raw("#{'<i class="clip-calendar"></i>'} #{"My Billing"}"), "/myaccount" %></li>
                            <li><%= link_to raw("#{'<i class="clip-exit"></i>'} #{"Log Out"}"), destroy_user_session_path, :method => :delete %></li>
                        </ul>
                    </li>
                <% end %> 
			</ul>
		</div>

	</div>
    
</div>
