:css
  .navbar-brand img {
    margin-top: -12px;
    width: 180px;
  }

.navbar.navbar-inverse.navbar-fixed-top
  .container.main_container
    .navbar-header
      = link_to image_tag("FinancialRankLogo.png"), root_url, {:class => 'navbar-brand'}
    .navbar-tools
      %ul.nav.navbar-right
        - unless user_signed_in?
          %li= link_to raw('<p>Login</p>'), new_user_session_path
        - else
          %li.dropdown.current-user
            = link_to raw("#{image_tag("avatar-1-small.jpg", class: "circle-img", alt: "")}#{'<span class="User">'} #{current_user.email} #{'</span> <i class="clip-chevron-down"></i>'}"), "#", class: "dropdown-toggle", data: {  hover: "dropdown", toggle: "dropdown", close_others: "true" }
            %ul.dropdown-menu
              %li= link_to raw("#{'<i class="clip-user-2"></i>'} #{"My Profile"}"), "/recommendations"
              %li= link_to raw("#{'<i class="clip-exit"></i>'} #{"Log Out"}"), destroy_user_session_path, :method => :delete