<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OptionCast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A complete admin panel theme">
    <meta name="author" content="theemio">

    <!-- styles -->

    <%= stylesheet_link_tag "css/utopia-white" %>
    <%= stylesheet_link_tag "css/utopia-responsive" %>    
    <%= stylesheet_link_tag "css/ui-lightness/jquery-ui" %>
    <%= stylesheet_link_tag "css/weather" %>
    <%= stylesheet_link_tag "css/gallery/modal" %>
    <%= stylesheet_link_tag "css/validationEngine.jquery" %>
    <%= stylesheet_link_tag "css/chosen" %>
    <%= stylesheet_link_tag "css/ie" %>

    <%= javascript_include_tag "js/jquery.min.js" %>
    <%= javascript_include_tag "js/jquery.cookie.js" %>
    <script type="text/javascript">
        if($.cookie("css")) {
            $('link[href*="utopia-white.css"]').attr("href",$.cookie("css"));
            $('link[href*="utopia-dark.css"]').attr("href",$.cookie("css"));
            $('link[href*="utopia-wooden.css"]').attr("href",$.cookie("css"));
        }
        $(document).ready(function() {
            $(".theme-changer a").live('click', function() {
                $('link[href*="utopia-white.css"]').attr("href",$(this).attr('rel'));
                $('link[href*="utopia-dark.css"]').attr("href",$(this).attr('rel'));
                $('link[href*="utopia-wooden.css"]').attr("href",$(this).attr('rel'));
                $.cookie("css",$(this).attr('rel'), {expires: 365, path: '/'});
                $('.user-info').removeClass('user-active');
                $('.user-dropbox').hide();
            });
        });
    </script>
   
 
    <!--[if IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

</head>

<body>


<div class="container-fluid">

    <!-- Header starts -->

    <%=render partial: "dashboard/header"%>

    <!-- Header ends -->

    <div class="row-fluid">

        <!-- Sidebar statrt -->
        
        <%=render partial: "dashboard/sidebar"%>

        <!-- Sidebar end -->

        <!-- Body start -->
            <div class="span10 body-container">

                <div class="row-fluid">

                    <!--Chart Icons -->
                            
                    <%=render partial: "dashboard/boxes"%>

                    <!--Chart Icons End -->
                </div>

                <%= yield %>

            </div>
        <!-- Body end -->

    </div>

    <!-- Maincontent end -->

</div> <!-- end of container -->
<!-- javascript placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "js/utopia.js" %>
<%= javascript_include_tag "js/jquery.hoverIntent.min.js" %>
<%= javascript_include_tag "js/jquery.easing.1.3.js" %>
<%= javascript_include_tag "js/jquery.datatable.js" %>
<%= javascript_include_tag "js/tables.js" %>
<%= javascript_include_tag "js/jquery.sparkline.js" %>
<%= javascript_include_tag "js/jquery.vticker-min.js" %>
<%= javascript_include_tag "js/ui/datepicker.js" %>
<%= javascript_include_tag "js/upload/load-image.min.js" %>
<%= javascript_include_tag "js/upload/image-gallery.min.js" %>
<%= javascript_include_tag "js/jquery.simpleWeather.js" %>
<%= javascript_include_tag "js/jquery.validationEngine.js" %>
<%= javascript_include_tag "js/js/jquery.validationEngine-en.js" %>
<%= javascript_include_tag "js/maskedinput.js" %>
<%= javascript_include_tag "js/chosen.jquery.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAeTbCOpuPIKT4i9n8iUQsBHNUt_MWjtog&sensor=false" %>
<%= javascript_include_tag "js/gmap3.js" %>
<%= javascript_include_tag "js/header.js?v1" %>
<%= javascript_include_tag "js/sidebar.js" %>

<script type="text/javascript">

    $(function() {

        $( "#utopia-dashboard-datepicker" ).datepicker().css({marginBottom:'20px'});

        jQuery("#validation").validationEngine();
        $("#phone").mask("(999) 9999999999");
        $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true});

        $.simpleWeather({
            zipcode: '10001',
            unit: 'f',
            success: function(weather) {
                html = '<h2>'+weather.city+', '+weather.region+'</h2>';
                html += '<img style="float:left" width="125px " src="'+weather.image+'">';
                html += '<p>'+weather.temp+'&deg; '+weather.units.temp+'<br /><span>'+weather.currently+'</span></p>';
                html += '<a href="'+weather.link+'">View Forecast &raquo;</a>';

                $("#utopia-dashboard-weather").css({marginBottom:'20px'}).html(html);
            },
            error: function(error) {
                $("#utopia-dashboard-weather").html('<p>'+error+'</p>');
            }
        });


        /* maps with route directions */
        $("#utopia-google-map-5").gmap3(
            { action:'getRoute',
                options:{
                    origin:'48 Pirrama Road, Pyrmont NSW',
                    destination:'Bondi Beach, NSW',
                    travelMode:google.maps.DirectionsTravelMode.DRIVING
                },
                callback:function (results) {
                    if (!results) return;
                    $(this).gmap3(
                        { action:'init',
                            zoom:13,
                            mapTypeId:google.maps.MapTypeId.ROADMAP,
                            streetViewControl:true,
                            center:[-33.879, 151.235]
                        },
                        { action:'addDirectionsRenderer',
                            options:{
                                preserveViewport:true,
                                draggable:false,
                                directions:results
                            }
                        }
                    );
                }
            }
        );
        /* maps with route directions end */
        
    });

    
    $("#utopia-sparkline-type1").sparkline([5, 6, 7, 9, 9, 5, 3, 2, 2, 4, 6, 7, 5, 6, 7, 9, 9], {type:"line", height:48, width:140});

    $('.utopia-activity-feeds').vTicker({
        speed: 500,
        pause: 3000,
        animation: 'fade',
        height: 335,
        mousePause: true,
        showItems: 4
    });


    
</script>
</body>
</html>
